PORT=4001
APP_VERSION=1.0.1
BASE_API_URL=http://localhost:3010

NUXT_PUBLIC_BASE_URL=http://localhost:4001
NUXT_PUBLIC_HYDRA_NODE_PROXY_PATTERN='hydranode-<port>.hexcore.io.vn'
NUXT_PUBLIC_HYDRA_NODE_PROXY_SSL='true'
